<!doctype html>
<title>Torrent page</title>
<html>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
     <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <head>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    <h1>Upload new torrent</h1>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        Username: <input type=text name=username>
        <input type=submit value=Upload>
      </form>
    {% endblock %}
  </body>
</html>
